/* Master styles */

.background
{
	background-color: #E0FFFF;
}

body
{
	font-family: "Lato", sans-serif;
	margin: 0px;
}

.container 
{
	display: grid;
	grid-template-columns: 1fr;
}

/* Nav Styles */

.nav-wrapper
{
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side
{
	display: flex;

}

.nav-wrapper > .left-side > div
{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper
{
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a
{
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover
{
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover
{
	color: black;
}

.active-nav-link
{
	border-bottom: 1px solid black;
}

.active-nav-link a
{
	color: black !important;
}

.summary
{
	margin-left: 38px;
}

.homeInfo
{
	margin-left: 76px;
}

.google_link
{
	margin-left: 100px
}

.aboutInfo
{
	margin-left: 38px;
	width: 800px;
}

.home_about
{
	margin-left: 76px;
	max-width: 350px;
}

.stock-image
{
	margin-right: 76px;
	width: 792px;
	height: 446px;
	background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/* Company.html CSS*/

.snowflake
{
	margin: auto;
  	width: 50%;
}

.pter
{
	margin-left: 38px;
}

.pter_graph
{
	margin: auto;
  	width: 50%;
}

.pe_results
{
	margin-left: 38px;
}

.ptbr
{
	margin-left: 38px;
}

.ptbr_graph
{
	margin: auto;
	width: 50%;
}

.pb_results
{
	margin-left: 38px;
}

.annual_revenue
{
	margin-left: 38px;
}

.ar_graph
{
	margin: auto;
	width: 75%;
}

.annual_result
{
	margin-left: 38px;
}

.assets_liability
{
	margin-left: 38px;
}

.assets_graph
{
	margin: auto;
	width: 75%;
}

.total_assets_result
{
	margin-left: 38px;
}

.total_liability
{
	margin-left: 38px;
}

.liability_graph
{
	margin: auto;
	width: 75%;
}

.total_liability_result
{
	margin-left: 38px;
}

.dividend
{
	margin-left: 38px;
}

.DEMO
{
	margin-left: 38px;
}
